* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: #f6f4eb;
}
/* header */
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 50px;
}
.header h1 {
  font-size: 6rem;
  font-family: "Courgette", cursive;
}
/* shop */
.shop {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 70px;
  font-family: "Raleway", sans-serif;
}
.item {
  border: 2px solid #4682a9;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  background-color: white;
}
.item:hover {
  transform: scale(1.1);
}
.item img {
  width: 300px;
  height: 285px;
  border-radius: 20px 20px 0 0;
  border: 2px solid #4682a9;
  border-bottom: 1px solid #91c8e4;
}
.item h1 {
  text-align: center;
}
.item button {
  background-color: #4682a9;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}
.item button:hover {
  opacity: 1;
}
.item button a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
}
.info {
  margin-top: 40px;
  padding: 3px;
  width: auto;
  position: absolute;
  bottom: 60px;
}
.buy {
  width: auto;
  padding: 3px;
  position: absolute;
  bottom: 10px;
}
.item5 {
  grid-column: 2;
}

@media screen and (max-width: 1445px) {
  .shop {
    grid-template-columns: auto auto auto;
  }
  .item5 {
    grid-column: 2;
  }
}
@media screen and (max-width: 1048px) {
  .shop {
    grid-template-columns: auto auto;
  }
  .item5 {
    grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .shop {
    grid-template-columns: auto;
  }
}
.credit {
  text-align: center;
  background-color: #91c8e4;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .header h1 {
    font-size: 3rem;
  }
  .item {
    transition: none;
  }
}
@media screen and (max-width: 370px) {
  .header h1 {
    font-size: 2.7rem;
  }

  .item {
    width: 250px;
    transition: none;
  }
  .item img {
    width: 250px;
  }
  .item5 h1 {
    font-size: 1.5rem;
  }
}
